<h1 class="rumble">URails Rumble!</h1>

<p>
A competition for Ruby on Rails developers that's student-friendly. 48 hours to build an awesome website of your choosing from Dec 15 - 17. Sign up below if you would like to compete!
</p>

<% if @pledge.errors.present? %>
  <ul class="errors">
  <% @pledge.errors.full_messages.each do |mess| %>
    <li><%= mess %></li>  
  <% end %>
  </ul>
<% end %>

<%= form_for @pledge do |f| %>
  <%= f.text_field :email, placeholder: "Email" %>
  <%= submit_tag "GO FIGHT WIN" %>
<% end %>

<% if flash[:success] %>
  <div class="success"><%= flash[:success] %></div>
<% end %>

<% if @authentications %>
  <% unless @authentications.empty? %>
    <p><strong>You can sign in to this account using:</strong></p>
    <div class="authentications">
      <% for authentication in @authentications %>
        <div class="authentication">
          <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
          <div class="provider"><%= authentication.provider.titleize %></div>
          <div class="uid"><%= authentication.uid %></div>
          <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
  <p><strong>Add another service to sign in with:</strong></p>
<% else %>
  <p><strong>Sign in through one of these services:</strong></p>
<% end %>
<a href="/auth/github" class="auth_provider">
    <%= image_tag "github.png", :size => "64x64", :alt => "Github" %>
  GIthub
</a>
<div class="clear"></div>


