<h1 class="rumble">URails Rumble!</h1>

<p>
A competition for Ruby on Rails developers that's student-friendly. 48 hours to build an awesome website of your choosing from Dec 15 - 17. Sign up below if you would like to compete!
</p>

<% if @pledge.errors.present? %>
  <ul class="errors">
  <% @pledge.errors.full_messages.each do |mess| %>
    <li><%= mess %></li>  
  <% end %>
  </ul>
<% end %>

<%= form_for @pledge do |f| %>
  <%= f.text_field :email, placeholder: "Email" %>
  <%= submit_tag "GO FIGHT WIN" %>
<% end %>

<% if flash[:success] %>
  <div class="success"><%= flash[:success] %></div>
<% end %>
<div class="clear"></div>


