.rules
  %h1 Rumble Rules
  %br/
  %br/
  %h2 Basics
  %p Teams of 1 - 4 will compete to create a website in 48 hours. Teams are not assigned, you may choose your own team. All teams must register with the website (when registrations are open) in order to be eligible for the competition.
  %h2 When and Where
  %p Registration, where compeitors can to assemble their teams through the website, will begin near the end of November. <strong>The competition itself will begin at 12PM (noon) on Dec 18th and end at 12PM on Dec 20th.</strong> We will have L130 reserved for your team to work in if you need to, however this is not required. You may pick a room at the top of Warnock, work remotely, whatever you like. There will be a few meals provide by 12 Spokes, a local Ruby shop that graciously decided to sponsor this event!
  %h2 Logistics
  %ul 
    %li There are 3 parts to the competition with the following date ranges:
    %ul
      %li Registration - End of November - Dec 17th
      %li Competition - Dec 18th - Dec 20th
      %li Judging - Dec 20th - Dec 21st
    %li Everything is free.
    %li In order to register with the website, you will have to have a #{ link_to "GitHub account", "https://github.com/" }.
    %li Every team will be required to use Git for version control, and #{ link_to "BitBucket", "http://bitbucket.com" } to host their project. BitBucket gives free private repositories for teams of up to 5 members.
    %li If you are unfamiliar with Git, you can #{ link_to "try it out here", "http://try.github.com/" }.
    %li You will be required to add the URailsRumble user as a collaborator on your BitBucket repository. Only approved moderators will have access to the URailsRumble account, which will be used to ensure no cheating is going on. As soon as the judging portion is finished, you may remove the URailsRumble user. We will not abuse our access to your repository and everything you build is completely yours.
    %li You will host your app on Heroku. Before the competition begins, you must register your __________.herokuapp.com URL with the website. If you are unfamiliar with Heroku, #{ link_to "here's a great getting started guide" }.
    %li We highly recommend you become familiar with Git, Heroku, and BitBucket well before the compeition begins. You can create your Heroku app and your BitBucket repository well in advance, no need to wait until the competition begins. We will give you a nice checklist of things that need to be done once registration begins, so no need to fret too much over it now.
  %h2 What are you allowed to do before the competition?
  %p You are allowed to do pretty much anything you want <em>except</em>:
  %ul
    %li Write code specific to your app.
    %li Design any graphics or images for your site.
  %p You also may not wrap the core functionality of your app in a gem, for example. You may write any general purpose libraries, freely distributed as a gem, as long as it is generally useful outside of your app domain.
  %p We recommend you do the following before the competition begins:
  %ul
    %li Decide on an idea/concept.
    %li Decide on a name, reserve any domain names if necessary.
    %li Brainstorm features.
    %li Wireframe the app and create flow charts.
  %p As long as you are not creating any assets (images/graphic design) or code specific to your app, you are probably allowed to do it. Feel free to #{ mail_to "urailsrumble@gmail.com", "contact the admins at urailsrumble@gmail.com" } if you have any questions.
  %h2 What now?
  %p Enter your email on the main page, and you will receive an email when registrations are ready to begin!
