<div style="font-family:'Helvetica'">
<h2><%= @greeting %> <%= @email %>,</h2>

<p><strong><%= @team.name %></strong> wants you to join their team for the URails Rumble competition.</p>

<h3>Follow these steps to join</h3>
<ul >
  <li>Step 1: Sign in to the <%= link_to "URails Rumble", root_path %> website using a Github account</li>
  <li>Step 2: Find <strong><%= @team.name %></strong> in the "Join a Team" dropdown menu.</li>
  <li>Step 3: Enter <strong><%= @team.password %></strong> for the password</li>
  <li> Step 4: Click the "Join a Team" button </li>
</ul>

<p>Hope to you see you soon!</p>
</div>
